.vs/
SampleMapsApp/Installer
SampleMapsApp/SampleMapsApp/SampleMapsApp.Android/bin
SampleMapsApp/SampleMapsApp/SampleMapsApp.Android/obj
SampleMapsApp/SampleMapsApp/SampleMapsApp.iOS/bin
SampleMapsApp/SampleMapsApp/SampleMapsApp.iOS/obj
SampleMapsApp/SampleMapsApp/SampleMapsApp.UWP/bin
SampleMapsApp/SampleMapsApp/SampleMapsApp.UWP/obj
SampleMapsApp/SampleMapsApp/SampleMapsApp.WPF/bin
SampleMapsApp/SampleMapsApp/SampleMapsApp.WPF/obj
SampleMapsApp/SampleMapsApp/SampleMapsApp/bin
SampleMapsApp/SampleMapsApp/SampleMapsApp/obj
SampleMapsApp/packages
SampleCarouselApp/SampleCarouselApp/SampleCarouselApp.Android/obj
SampleCarouselApp/SampleCarouselApp/SampleCarouselApp.Android/bin
SampleCarouselApp/SampleCarouselApp/SampleCarouselApp.UWP/obj
SampleCarouselApp/SampleCarouselApp/SampleCarouselApp.UWP/bin
SampleCarouselApp/SampleCarouselApp/SampleCarouselApp.WPF/obj
SampleCarouselApp/SampleCarouselApp/SampleCarouselApp.WPF/bin
SampleCarouselApp/SampleCarouselApp/SampleCarouselApp.iOS/obj
SampleCarouselApp/SampleCarouselApp/SampleCarouselApp.iOS/bin
SampleCarouselApp/SampleCarouselApp/SampleCarouselApp/obj
SampleCarouselApp/SampleCarouselApp/SampleCarouselApp/bin
SampleCarouselApp/packages
Template/WorkingFolder
Template/EmptyPCL/EmptyPCL.zip
Template/IndigoOliveWPFVISX/EmptyPCLINDIGOWPF/obj
Template/IndigoOliveWPFVISX/EmptyPCLINDIGOWPF/bin
Template/IndigoOliveWPFVISX/IndigoOliveWPF/obj
Template/IndigoOliveWPFVISX/IndigoOliveWPF/bin
Template/IndigoOliveWPFVISX/IndigoOliveWPFVISX/obj
Template/IndigoOliveWPFVISX/IndigoOliveWPFVISX/bin
SampleMaps2017App/Installer
SampleMaps2017App/SampleMaps2017App/SampleMaps2017App.Android/bin
SampleMaps2017App/SampleMaps2017App/SampleMaps2017App.Android/obj
SampleMaps2017App/SampleMaps2017App/SampleMaps2017App.iOS/bin
SampleMaps2017App/SampleMaps2017App/SampleMaps2017App.iOS/obj
SampleMaps2017App/SampleMaps2017App/SampleMaps2017App.UWP/bin
SampleMaps2017App/SampleMaps2017App/SampleMaps2017App.UWP/obj
SampleMaps2017App/SampleMaps2017App/SampleMaps2017App.WPF/bin
SampleMaps2017App/SampleMaps2017App/SampleMaps2017App.WPF/obj
SampleMaps2017App/SampleMaps2017App/SampleMaps2017App/bin
SampleMaps2017App/SampleMaps2017App/SampleMaps2017App/obj
SampleMaps2017App/packages
SampleCarousel2017App/SampleCarousel2017App/SampleCarousel2017App.Android/obj
SampleCarousel2017App/SampleCarousel2017App/SampleCarousel2017App.Android/bin
SampleCarousel2017App/SampleCarousel2017App/SampleCarousel2017App.UWP/obj
SampleCarousel2017App/SampleCarousel2017App/SampleCarousel2017App.UWP/bin
SampleCarousel2017App/SampleCarousel2017App/SampleCarousel2017App.WPF/obj
SampleCarousel2017App/SampleCarousel2017App/SampleCarousel2017App.WPF/bin
SampleCarousel2017App/SampleCarousel2017App/SampleCarousel2017App.iOS/obj
SampleCarousel2017App/SampleCarousel2017App/SampleCarousel2017App.iOS/bin
SampleCarousel2017App/SampleCarousel2017App/SampleCarousel2017App/obj
SampleCarousel2017App/SampleCarousel2017App/SampleCarousel2017App/bin
SampleCarousel2017App/packages
