*.sln
.vs/
SampleMapsApp/Installer
SampleMapsApp/SampleMapsApp/SampleMapsApp.Android/bin
SampleMapsApp/SampleMapsApp/SampleMapsApp.Android/obj
SampleMapsApp/SampleMapsApp/SampleMapsApp.iOS/bin
SampleMapsApp/SampleMapsApp/SampleMapsApp.iOS/obj
SampleMapsApp/SampleMapsApp/SampleMapsApp.UWP/bin
SampleMapsApp/SampleMapsApp/SampleMapsApp.UWP/obj
SampleMapsApp/SampleMapsApp/SampleMapsApp.WPF/bin
SampleMapsApp/SampleMapsApp/SampleMapsApp.WPF/obj
SampleMapsApp/SampleMapsApp/SampleMapsApp/bin
SampleMapsApp/SampleMapsApp/SampleMapsApp/obj
SampleMapsApp/packages
SampleCarouselApp/SampleCarouselApp/SampleCarouselApp.Android/obj
SampleCarouselApp/SampleCarouselApp/SampleCarouselApp.Android/bin
SampleCarouselApp/SampleCarouselApp/SampleCarouselApp.UWP/obj
SampleCarouselApp/SampleCarouselApp/SampleCarouselApp.UWP/bin
SampleCarouselApp/SampleCarouselApp/SampleCarouselApp.WPF/obj
SampleCarouselApp/SampleCarouselApp/SampleCarouselApp.WPF/bin
SampleCarouselApp/SampleCarouselApp/SampleCarouselApp.iOS/obj
SampleCarouselApp/SampleCarouselApp/SampleCarouselApp.iOS/bin
SampleCarouselApp/SampleCarouselApp/SampleCarouselApp/obj
SampleCarouselApp/SampleCarouselApp/SampleCarouselApp/bin
SampleCarouselApp/packages
Template/WorkingFolder
Template/EmptyPCL/EmptyPCL.zip
Template/IndigoOliveWPFVISX/EmptyPCLINDIGOWPF/obj
Template/IndigoOliveWPFVISX/EmptyPCLINDIGOWPF/bin
Template/IndigoOliveWPFVISX/IndigoOliveWPF/obj
Template/IndigoOliveWPFVISX/IndigoOliveWPF/bin
Template/IndigoOliveWPFVISX/IndigoOliveWPFVISX/obj
Template/IndigoOliveWPFVISX/IndigoOliveWPFVISX/bin